{% extends "snippets/layout/base.html" %}

{% block title %} Thank You{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">

              <div class="text-center mb-4">
                
                <p>
                  <a href="#">
                   <h1>Terima Kasih ,<br> Data anda sudah di submit Ke HRD</h1> </a>
              </p>
              </div>
              
            
          <div class="row mt-3">
            <div class="col-6">
              
            </div>
            <div class="col-6 text-right">
              
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
