
<div class="masonry-item col-md-4">
    <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900">Chosee Leave / Permit |</h6>
        <div class="mT-30">
        
        <div class="list-group">
            <a href="{% url 'app:leave' %}" class="list-group-item list-group-item-action actived">H1-Cuti Haid</a>
            <a href="{% url 'app:leave_new_melahirkan' %}" class="list-group-item list-group-item-action">H2-Cuti Melahirkan</a>
            <a href="{% url 'app:leave_new_menikah' %}" class="list-group-item list-group-item-action">P3-Cuti Menikah</a>
            <a href="{% url 'app:leave_new_anak_menikah' %}" class="list-group-item list-group-item-action">P5-Cuti Anak Menikah</a>
            <a href="{% url 'app:leave_new_urusan_pemerintah' %}" class="list-group-item list-group-item-action">S3-Cuti Urusan Pemerintah</a>

            <a href="{% url 'app:leave_new_tahunan' %}" class="list-group-item list-group-item-action">T-Cuti Tahunan</a>
            <a href="{% url 'app:leave_new_bencana_alam' %}" class="list-group-item list-group-item-action">Other-Cuti Bencana Alam</a>
            <a href="{% url 'app:permit_datang_terlambat' %}" class="list-group-item list-group-item-action">P4A-Ijin Datang Terlambat</a>
            <a href="{% url 'app:permit_pulang_awal' %}" class="list-group-item list-group-item-action">P4B-Ijin Pulang lebih Awal</a>

            <a href="{% url 'app:permit_keperluan_dinas' %}" class="list-group-item list-group-item-action actived">P7-Ijin Keperluan Dinas</a>
            <a href="{% url 'app:permit_sick' %}" class="list-group-item list-group-item-action">S1-Ijin Karena Sakit</a>
            <a href="{% url 'app:permit_keluarga_kandung_meninggal' %}" class="list-group-item list-group-item-action">BH-Ijin Keluarga Kandung Meninggal</a>
            <a href="{% url 'app:permit_istri_pekerja_melahirkan' %}" class="list-group-item list-group-item-action">T2-Istri Pekerja Melahirkan/Keguguran</a>
            <a href="{% url 'app:permit_mengkhitankan_baptis_anak' %}" class="list-group-item list-group-item-action">S2-Mengkhitankan/Membaptiskan anak</a>

            <a href="{% url 'app:permit_istri_suami_anak_ortu_meninggal' %}" class="list-group-item list-group-item-action">GH-istri/Suami,Anak,Orang Tua Meninggal</a>
            <a href="{% url 'app:perjalanan_dinas_luar_kota' %}" class="list-group-item list-group-item-action">P3-Perjalanan Dinas Luar Kota</a>
            <a href="{% url 'app:bekerja_dihari_libur' %}" class="list-group-item list-group-item-action">ED-Bekerja di hari libur</a>
            <a href="{% url 'app:wfh' %}" class="list-group-item list-group-item-action">WFH-Work From Home</a>
        </div>
        </div>
    </div>
</div>